
.userListTable{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 2%;
}
.userListTable table{
   width: 30%;
   border: 1px solid gray;
}
.userListTable table thead th{
    text-align: center;
    padding: 10px;
    border: 1px solid grey;
}

.userListTable table tbody td{
text-align: center;
padding: 10px;
border: 1px solid grey;

}
.sorting_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 3% 0 0 0;
}
.sorting_btns>button{
 padding: 5px 10px;
 font-size: 14px;
 font-weight: 400;
 background-color: var(--white);
 border-radius: 3px;
 cursor: pointer;
 border: 2px solid gray;
 
}
.sorting_btns>button:hover{
    border: 2px solid var(--primary);
    color: var(--primary);
}
