*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
:root{
  --primary:#2ca8c7;
  --secondary:rgba(0,0,0,.7);
  --white:#fff;;
  --black:#000;
}

::-webkit-scrollbar {
  width: 3px;
  height: 1px;;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}